<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="/template/template.xhtml">

	<ui:define name="mainContent">
		<h:form>
		
		<div class="main">
 	<div class="wrap">
        <div class="content">
     	<div class="content_top">
    		<div class="back-links">
    		<p><a href="index.xhtml">Home</a> &gt;&gt;&gt;&gt; <a href="contact.xhtml" class="active">Contact</a></p>
    	    </div>
    		<div class="clear"></div>
    	</div>
    	
    	<div class="section group">
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h2>Contact Us</h2>
					    <h:form >
					    	<div>
						    	<span><label>E-mail</label></span>
						    	<span><h:inputText value="#{ContactController.from}" name="userEmail"  /> </span>
						    </div>
						    <div>
						    	<span><label>Password</label></span>
						    	<span><h:inputSecret  value="#{ContactController.password}"  name="userPwd" style="
    padding: 8px;   display: block;   width:98%;   background:none;   border:1px solid #CACACA;   outline: none;   color: #464646;   font-size:1em;   font-weight:bold;   font-family: Arial, Helvetica, sans-serif;   -webkit-appearance: none;
"/> </span>
						    </div>
						    <div>
						     	<span><label>Company Name</label></span>
						    	<span><h:inputText value="#{ContactController.too}" name="userPhone"/></span>
						    </div>
						    <div>
						    	<span><label>Subject</label></span>
						    	<span><h:inputTextarea name="userMsg" value="#{ContactController.mesg}"> </h:inputTextarea></span>
						    </div>
						   <div>
						   		<span><h:commandButton  value="SEND" action="#{ContactController.sendMail()}" type="submit" /></span>
						  </div>
					    </h:form>
				  </div>
  				</div>
				<div class="col span_1_of_3">
					<div class="contact_info">
    	 				<h2>Find Us Here</h2>
					    	  <div class="map">
							   	    <img src="/template/esprit.JPG" width="100" height="175"/> <br/><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#888;text-align:left;font-size:0.85em">View Larger Map</a></small>
							  </div>
      				</div>
      			<div class="company_address">
				     	<h2>Information :</h2>
						    	<p>ESPRIT, EL-GHAZALA</p>
						   		<p>TUNISIE</p>
						   	
				   		<p>Phone:+216 70 685 685</p>
				   		
				 	 	<p> Site : <span><a href="#">esprit.ens.tn</a></span></p>
				   		<p>Follow on: <span><h:commandLink value="" action="https://www.facebook.com/cineast4info1" >Facebook</h:commandLink></span>, <span><a href="#">Twitter</a></span></p>
				   </div>
				 </div>
			  </div>		
         </div> 

</div></div>
			
    
		</h:form>
	</ui:define>

</ui:composition>

</html>