<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


<ui:composition template="/template/template.xhtml">

	<ui:define name="mainContent">
		<h:form>

<div class="main">

<div>

<h:form>  
  
    <p:growl id="growl" showDetail="true"/>  
  
    <p:dataTable value="#{editorBean.forums}" var="f">
    
    <p:panel header="Cineast Forum" footer="Cineast!">  
        <p:column><p:outputLabel value="#{f.registredUser.surname}"></p:outputLabel>
     </p:column>
     <br/>
     <p:column>
        <h:outputText value="#{f.comment}" />  
        </p:column>
    </p:panel>  
    </p:dataTable>
</h:form>
</div>


<div>

<h:form id="form">  

  
    <p:editor id="editor" value="#{editorbeancreat.val}" width="1343"/> 
 
    <h:panelGrid columns="2" style="margin-top:10px">  
        <p:commandButton id="submitButton" value="Submit" update="display" oncomplete="dlg.show()"  
                        icon="ui-icon-disk" action="#{editorbeancreat.doAddcomment()}" />  
        <p:commandButton id="clearButton" type="button" value="Clear" onclick="PF('editor').clear()"  
                        icon="ui-icon-close" />  
    </h:panelGrid>  
  
    <p:dialog header="Content" widgetVar="dlg" showEffect="fade" hideEffect="fade" modal="true">  
        <h:outputText id="display" value="#{editorbeancreat.forum.comment}" escape="false" />  
    </p:dialog>  
  
</h:form>  
</div>

</div>

</h:form>
	</ui:define>

</ui:composition>

 
</html>
