<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="/template/template.xhtml">

	<ui:define name="mainContent">
		<h:form>

        

            








			
    
		</h:form>
	</ui:define>

</ui:composition>

</html>