<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="/template/template.xhtml">

	<ui:define name="mainContent">
		<h:form>
<p:media style="margin-left: 7cm" value="http://www.youtube.com/v/PAQGkn_nsrE" width="600" height="500" player="flash"/> 
<p:dataTable value="#{commbean.comments}" var="c">
<p:column width="200">
<f:facet name="user">
</f:facet>
<p:graphicImage value="#{c.owner.pic}"></p:graphicImage>
<p:outputLabel value="#{c.owner.name}"></p:outputLabel>
</p:column><p:column>
<p:outputLabel value="#{c.text}"></p:outputLabel>
</p:column>

</p:dataTable>
<h:form>
<h2>your comments here </h2>
<p:inputTextarea  name ="comment" autoResize="true" style="margin-left: 3cm" rows="4" cols="50" completeMethod="#{autoCompleteBean.completeArea}" queryDelay="750" minQueryLength="4" value="#{commentbeans.comm.text}"  />
      
                    
  <h:commandButton value="post" action="#{commentbeans.doAddcomment()}" />     
               
  </h:form>
  </h:form>
	</ui:define>

</ui:composition>

</html>