<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	
	
	<h:head><h:outputStylesheet library="css" name="style.css" /></h:head>
	<h:form>


		<div class="header">
			<div class="headertop_desc">
				<div class="wrap">
					<div class="nav_list">
						<ul>
							<li><a href="index.xhtml">Home</a></li>
							<li><a href="contact.html">Sitemap</a></li>
							<li><a href="contact.xhtml">Contact</a></li>
						</ul>
					</div>
					<div class="account_desc">
						<ul>
							<li><a href="useregister.xhtml">Register</a></li>
							<li><a href="contact.html">Login</a></li>
							<li><a href="editor.xhtml">Forum</a></li>
							<li><a href="#">Checkout</a></li>
							<li><a href="showaccount.xhtml">My Account</a></li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
			</div>

			<script type="text/javascript">
								function DropDown(el) {
									this.dd = el;
									this.initEvents();
								}
								DropDown.prototype = {
									initEvents : function() {
										var obj = this;
					
										obj.dd.on('click', function(event){
											$(this).toggleClass('active');
											event.stopPropagation();
										});	
									}
								}
					
								$(function() {
					
									var dd = new DropDown( $('#dd') );
					
									$(document).click(function() {
										// all dropdowns
										$('.wrapper-dropdown-2').removeClass('active');
									});
					
								});
					    </script>
		</div>
</h:form>
</html>
