<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      	xmlns:p="http://primefaces.org/ui"> 

<h:head>


	<ui:insert name="titleContent"><title> Cineast </title></ui:insert>

	<h:outputStylesheet library="css" name="style.css" />
    <h:outputStylesheet library="css" name="slider.css" />



</h:head> 

<body>

	<ui:include src="/template/Header.xhtml" />
	<ui:insert name="mainContent"></ui:insert>
	<ui:insert name="movies"> <ui:include src="/template/Movietempl.xhtml" /> </ui:insert>
	<ui:include src="/template/Footer.xhtml" />
	

	
	<script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body> 
</html>
