<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:c_rt="http://java.sun.com/jstl/core_rt"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
<title>add movie</title>
</h:head>
<h:body>
<composite:interface><br/><br/><br/>
<form style="margin-left: 2cm">
<h3>Title</h3><input type="text" />
<br/>
<h3>Actor1</h3><input type="text" /><br/>
<h3>Actor2</h3><input type="text" /><br/>
<h3>More</h3><input type="button" value="+" /><br/>
<h3>Poster</h3><input type="file" /><br/>
<h3>trailer</h3><input type="file" /><br/>
<h3>Nationality</h3><select><option>North America</option>
<option>europe</option>
<option>South America</option>
<option>North Africa</option>
<option>Asia</option>
<option>South Africa</option>

</select>
<br></br>
<h3>year</h3><input type="text" />

<h3>movie Premiere planning</h3>

</form>
</composite:interface>
<composite:implementation>

</composite:implementation>
</h:body>
</html>