<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:x_rt="http://java.sun.com/jstl/xml_rt"
      xmlns:x="http://java.sun.com/jsp/jstl/xml"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:p="http://primefaces.org/ui"> 

<h:head></h:head> 
<body style="background-color: buttonhighlight;">


<h:panelGrid columns="8" >
<h:column>
<rich:panel>

<h:form style="width:9cm;">
 <img src="logo.png" style=" width : 331px;"/> 
    </h:form>
</rich:panel></h:column>


<h:column>
<rich:panel style="width : 357px; height : 171px; margin-lef: 10cm"><h4>Quick Search</h4>
    <p:inputText style="width :6cm; " />
    <p:button  value="ACTION" icon="ui-icon-star">
    </p:button>
</rich:panel>

</h:column>
<h:column>

</h:column>
<h:column>
<rich:panel style=" width : 379px; height : 110px;">

    <f:param name="productId" value="20" />
     <p:button  value="Sign in " icon="ui-icon-star">
    <f:param name="productId" value="20" />
    
</p:button>
    <f:param name="productId" value="20" />
     <p:button  value="Sign up " icon="ui-icon-star">
    <f:param name="productId" value="20" />
    
</p:button>
</rich:panel></h:column>

</h:panelGrid>



   
    <p:megaMenu >
    <p:menuitem value="Main page" url="#" icon="ui-icon-close" />
        <p:submenu label="Search" icon="ui-icon-check">
        
        </p:submenu>
  
        <p:submenu label="Contact" icon="ui-icon-document">
      
            <p:column>
            <p:menuitem value="Who ARE WE" url="#" />
                    <p:menuitem value="ESPRIT" url="#" />
                    <p:menuitem value="DOCUMENTATION" url="#" />
          
            </p:column>

           
          
        </p:submenu>

        
      <p:menuitem value="Registred Member Space" url="#" icon="ui-icon-close" />
        <p:menuitem value="Quit" url="#" icon="ui-icon-close" />
    </p:megaMenu>
    
 
    <form style="margin-left: 10cm;background-color: grey; width: 15cm; height: 22cm">
    
    <h1 style="TEXT-DECORATION: underline; color: black;margin-left: 5cm">Sign up </h1>
    
    <h3 style="margin-left: 2cm">Last Name</h3>
    <input style="margin-left: 2cm" type="text"/>
    <h3 style="margin-left: 2cm">First Name</h3>
    <input style="margin-left: 2cm" type="text"/>
    <h3 style="margin-left: 2cm">Mail</h3>
    <input style="margin-left: 2cm" type="text" />
    <h3 style="margin-left: 2cm">USERNAME/ LOGIN</h3>
    <input style="margin-left: 2cm" type="text"/>
    <h3 style="margin-left: 2cm">Password</h3>
    <input style="margin-left: 2cm" type="password"/>

    <h3 style="margin-left: 2cm">Are you a professional in the cinema industry</h3>
    
    <input style="margin-left: 2cm" name="pro" type="radio" value="true" /> YES
    <input style="margin-left: 2cm" name="pro" type="radio" value="false"/> NO
    
    <h3 style="margin-left: 2cm">your Position</h3>
    <input style="margin-left: 2cm" name="pos" type="radio" value="director" />director
    <input style="margin-left: 2cm" name="pos" type="radio" value="actor" />actor
    <input style="margin-left: 2cm" name="pos" type="radio" value="actor" />amateur
    
<h3 style="margin-left: 2cm">Prove it </h3>
<input style="margin-left: 2cm" type="file"   />
<br/>
<br/>
<input type="button" value="submit" style="margin-left:6cm; margin-top: 1cm"></input>
</form>
 


  
</body> 
</html>
