<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:t="http://myfaces.apache.org/tomahawk">
      
   
<h:head>

<title><ui:insert name="titre" /></title>
<meta name="description" content="A free template from http://ws-templates.com"/>
<meta name="keywords" content="keyword1,keyword2"/>

<link  href="css/screen.css" media="screen" rel="stylesheet"/>
<link rel="stylesheet" href="nivo-slider/default/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="nivo-slider/default/default.css" type="text/css" media="screen" />
<link  href="css/style.css" media="screen" rel="stylesheet"/>


</h:head>

<h:body>

<composite:interface>
<f:view>

<div class="black-wrapper">
<ui:insert name="entete"/><div class="container">
<ui:insert name="content">

<!-- header class="span-12" -->
	
	<img  src="logo.png" alt="" style=" width : 400px; height : 200px;"/>
<!-- /header -->

<!--################################################-->
<nav class="span-12 last">
	<ul class="right">
		<li class="active"><a class="p_text_color" href="index.html">Home</a></li>
		<li><a href="portfolio.html">Portfolio</a></li>
		<li><a href="blog.html">Blog</a></li>
		<li><a href="About.html">About</a></li>
		<li><a href="contact.html">Contact</a></li>
	</ul>
	
</nav></ui:insert></div></div>
<span class="clearfix"></span>

<!--################################################-->

<section id="slider_wrapper" class="slider-wrapper theme-default container">
	<div id="slider" class="nivoSlider">
                <img src="images/aff1.jpg" data-thumb="images/aff1.jpg" alt="" />
                <img src="images/aff2.jpg" data-thumb="images/aff2.jpg" alt=""  />
                <img src="images/aff3.jpg" data-thumb="images/aff3.jpg" alt=""  />
            </div>
	</section>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
		<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	
	
<!--################################################-->
<ui:insert name="bienvenu">
<div id="icons_wrapper" >
	<div class="container">
		<div class="span-18"><h2>The site to the amateurs of movies and Professionals</h2>
		<h4>Click the button to acess all our services </h4></div>
		<div class="right"><a href="#"><img src="images/button.png" alt="" /></a></div>
	</div>
</div>
<!--################################################-->
<section id="four_parags">
	<div class="container">
		<a href="#"><div class="one_parag span-6">
			<img src="images/icon_03.jpg" alt="" />
			<h2>What we do</h2>
			<p>Esprit university is private university of technology. this project has been developped in the context of a study Project </p>
		</div></a>
		<a href="#"><div class="one_parag span-6">
			<img src="images/icon_06.jpg" alt="" />
			<h2>Who we are</h2>
			<p>Boundary Pushers is a team composed by 6 persons who decided to pus the limits and develop useful software </p>
		</div></a>
		<a href="#"><div class="one_parag span-6">
			<img src="images/icon_09.jpg" alt="" />
			<h2>Why us</h2>
			<p> </p>
		</div></a>
		<a href="#">
		<div class="one_parag span-6 last">
			<img src="images/icon_12.jpg" alt="" />
			<h2></h2>
			<p> </p>
		</div></a>
		
	</div>
</section>
<span class="clearfix"></span>
</ui:insert>
<!--################################################-->

<section id="four_images" class="container">
<ui:insert name="inutile"/>
	<h2><span class="b_line">Our recent work</span></h2>

	<div class="one_image span-6">
		<div class="image_wrapper"><img src="images/Portfolio---4columns---image_05.jpg" alt="photo"/></div>
		<p>flippy is a Free html5/CSS3 template by ws-templates.com, released under the Creative Commons Attribution 3.0</p>
		<a href="#" class="right">See more &rarr;</a>
	</div>
	
	<div class="one_image span-6">
		<div class="image_wrapper"><img src="images/Portfolio---4columns---image_07.jpg" alt="photo"/></div>
		<p>It means you can use it however you like as long as you keep the text link in the footer or somewhere on the site.</p>
		<a href="#" class="right">See more &rarr;</a>
	</div>
	<div class="one_image span-6">
		<div class="image_wrapper"><img src="images/Portfolio---4columns---image_03.jpg" alt="photo"/></div>
		<p>justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus  sit amet</p>
		<a href="#" class="right">See more &rarr;</a>
	</div>
	
	<div class="one_image span-6 last">
		<div class="image_wrapper"><img src="images/Portfolio---4columns---image_09.jpg" alt="photo"/></div>
		<p>justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus  sit amet</p>
		<a href="#" class="right">See more &rarr;</a>
	</div>
	
</section>
<!--################################################-->

	<span class="container">
	Copyright 2013 by <b>Boundary Pushers</b>, all rights reserved
	<span class="right last"><a href=""></a></span>
	</span>

<script type="text/javascript" src="scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="scripts/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
</f:view>
</composite:interface>
<composite:implementation>

</composite:implementation>
</h:body>
</html>