
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.prime.com.tr/ui">
    <h:head>
        <title>Chat Room</title>
        <script type="text/javascript">
            var jq = jQuery;
                        function handlePublish(pushed){

         

                 var msg = decodeURIComponent(pushed.data); 

                  msg = msg.replace(/\+/g, " "); 

                 jq("#outPanel_content").append(msg+"<br/>");
                
            }
        </script>
    </h:head>
    <h:body>
        <h:form prependId="false">
            <h:inputText value="#{chatBean.message}"/>
            <p:commandButton value="Send" actionListener="#{ChatBean.send}"/>
        </h:form>
        <p:panel id="outPanel"/>
        <p:push channel="chat" onpublish="handlePublish"/>
    </h:body>
</html>