<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="/template/template.xhtml">

	<ui:define name="mainContent">
		
		
	   <h:form style="margin-left:3cm" >
	   <br/>
	   <br/>
	   <p:graphicImage value="#{manuser.reguser.pic}"></p:graphicImage>
	   <p:fileUpload value="#{manuser.reguser.pic}"></p:fileUpload>
	   <br/>
	   <br/>
	   <h4>user name</h4>
	   <p:inputText  value="#{manuser.reguser.login}"  />
	   <br/>
	   <br/>
	   <h4>Last Name</h4>
	   <p:inputText  value="#{manuser.reguser.surname}" />
	   <br/>
	   <br/>
	   <h4>First Name</h4>
	   <p:inputText value="#{manuser.reguser.name}" />
	   <br/>
	   <br/>
	   <h4>Birth date</h4>
	      <p:growl id="growl" showDetail="true"/>
<p:calendar pattern=" dd/MM/yyyy" showButtonPanel="true" navigator="true" id="customCal" value="#{manuser.reguser.birthday}"></p:calendar>
	   <br/>
	   <br/>
	   <h4>nationality</h4>
	       <p:selectOneListbox id="basic" value="#{manuser.reguser.nationality}">
            <f:selectItem itemLabel="Tunisia" itemValue="Tunisia" />
            <f:selectItem itemLabel="America" itemValue="America" />
            <f:selectItem itemLabel="France" itemValue="France" />
             <f:selectItem itemLabel="Japan" itemValue="Japan" />
            <f:selectItem itemLabel="Algeria" itemValue="Algeria" />
            <f:selectItem itemLabel="Marocco" itemValue="Marocco" />
        </p:selectOneListbox>
        
	   <br/>
	    <br/>
	    <h4>Phone number</h4>
	    <p:inputText value="#{manuser.reguser.telephonNumber}" />
	   <br/>
	   <br/>
	   <h4>CIN</h4>
	   <p:inputText value="#{manuser.reguser.CIN}" />
	   <br/>
	   <br/>
	   <h4>do you want to change your password </h4>
	   <h:inputSecret  value="#{manuser.reguser.password}" />
	   <h5>confirm</h5>
	   <h:inputSecret value="#{manuser.reguser.password}" /> 
	   <br/>
	   <br/>
	   <h4>you have a new E-mail</h4>
	   <p:inputText  value="#{manuser.reguser.email}" />
	   <h5>confirm</h5>
	   <p:inputText  value="#{manuser.reguser.email}"   />
	   <br/>
	   <br/>
	   
	   
	   <p:commandButton value="save changes" action="#{manuser.doSaveChanges()}" />
	   <p:commandButton  value="Delete Profil" />
	   
	   </h:form>
	</ui:define>

</ui:composition>

</html>